src/main/resources/uk/ac/ebi/ena/sra/schema/ENA.assembly.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- version:1.5.41 -->
<xs:schema xmlns:com="SRA.common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="SRA.common" schemaLocation="SRA.common.xsd"/>
    <xs:complexType name="AssemblySetType">
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element ref="ASSEMBLY"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ASSEMBLY_SET" type="AssemblySetType">
        <xs:annotation>
            <xs:documentation>A container of assembly objects. </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ASSEMBLY" type="AssemblyType"/>
    <xs:complexType name="AssemblyType">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="com:ObjectType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="TITLE" type="xs:string">
                        <xs:annotation>
                            <xs:documentation/>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="DESCRIPTION" type="xs:string">
                        <xs:annotation>
                            <xs:documentation/>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NAME" type="xs:string"/>
                    <xs:element name="ASSEMBLY_LEVEL">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="complete genome"/>
                                <xs:enumeration value="chromosome"/>
                                <xs:enumeration value="scaffold"/>
                                <xs:enumeration value="contig"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="GENOME_REPRESENTATION">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="full"/>
                                <xs:enumeration value="partial"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="TAXON">
                        <xs:complexType>
                            <xs:all minOccurs="1">
                                <xs:element maxOccurs="1" minOccurs="1" name="TAXON_ID"
                                    type="xs:int">
                                    <xs:annotation>
                                        <xs:documentation/>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element maxOccurs="1" minOccurs="0" name="SCIENTIFIC_NAME"
                                    type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation/>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element maxOccurs="1" minOccurs="0" name="COMMON_NAME"
                                    type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation/>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element maxOccurs="1" minOccurs="0" name="STRAIN"
                                    type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation/>
                                    </xs:annotation>
                                </xs:element>
                            </xs:all>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="SAMPLE_REF" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation/>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="1" minOccurs="0" name="IDENTIFIERS"
                                    type="com:IdentifierType"> </xs:element>
                            </xs:sequence>
                            <xs:attributeGroup ref="com:RefNameGroup"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="STUDY_REF">
                        <xs:annotation>
                            <xs:documentation/>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="1" minOccurs="0" name="IDENTIFIERS"
                                    type="com:IdentifierType"> </xs:element>
                            </xs:sequence>
                            <xs:attributeGroup ref="com:RefNameGroup"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="WGS_SET">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="PREFIX" type="xs:string"/>
                                <xs:element name="VERSION" type="xs:integer"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="CHROMOSOMES">
                        <xs:annotation>
                            <xs:documentation/>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence maxOccurs="unbounded" minOccurs="1">
                                <xs:element name="CHROMOSOME">
                                    <xs:complexType>
                                        <xs:all>
                                            <xs:element minOccurs="0" name="NAME" type="xs:string">
                                                <xs:annotation>
                                                  <xs:documentation/>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="TYPE">
                                                <xs:annotation>
                                                  <xs:documentation/>
                                                </xs:annotation>
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:token">
                                                  <xs:enumeration value="Plastid"/>
                                                  <xs:enumeration value="Kinetoplast"/>
                                                  <xs:enumeration value="Segment"/>
                                                  <xs:enumeration value="Apicoplast"/>
                                                  <xs:enumeration value="Virus"/>
                                                  <xs:enumeration
                                                  value="Mitochondrial Miscellaneous"/>
                                                  <xs:enumeration value="Plasmid"/>
                                                  <xs:enumeration value="Nucleomorph"/>
                                                  <xs:enumeration value="Macronucleus"/>
                                                  <xs:enumeration value="Chloroplast"/>
                                                  <xs:enumeration value="Mitochondrion"/>
                                                  <xs:enumeration value="Virus Chromosome"/>
                                                  <xs:enumeration value="Extrachromosomal Element"/>
                                                  <xs:enumeration value="Miscellaneous"/>
                                                  <xs:enumeration value="Provirus"/>
                                                  <xs:enumeration value="Chromosome"/>
                                                  <xs:enumeration value="Non-nuclear Miscellaneous"/>
                                                  <xs:enumeration value="Chromatophore"/>
                                                  <xs:enumeration value="Provirus Chromosome"/>
                                                  <xs:enumeration value="Mitochondrial Plasmid"/>
                                                  <xs:enumeration value="Linkage Group"/>
                                                  <xs:enumeration value="Cyanelle"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                            </xs:element>
                                        </xs:all>
                                        <xs:attribute name="accession" type="xs:string"
                                            use="required">
                                            <xs:annotation>
                                                <xs:documentation/>
                                            </xs:annotation>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="ASSEMBLY_LINKS">
                        <xs:annotation>
                            <xs:documentation/>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence maxOccurs="unbounded" minOccurs="1">
                                <xs:element name="ASSEMBLY_LINK" type="com:LinkType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="ASSEMBLY_ATTRIBUTES">
                        <xs:annotation>
                            <xs:documentation/>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence maxOccurs="unbounded" minOccurs="1">
                                <xs:element name="ASSEMBLY_ATTRIBUTE" type="com:AttributeType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
