src/main/resources/uk/ac/ebi/ena/sra/schema/ENA.checklist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- version:1.5.41 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="SRA.common">
    <xs:import schemaLocation="SRA.common.xsd" namespace="SRA.common"/>

    <xs:complexType name="ChecklistType">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="com:ObjectType">
                <xs:sequence>
                    <xs:element name="DESCRIPTOR">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="1" name="LABEL" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>A unique immutable label for the checklist used for referencing purposes.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element minOccurs="1" name="NAME" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>The name of the checklist used for display purposes.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element minOccurs="0" name="DESCRIPTION" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>The description of the checklist used for display purposes.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="AUTHORITY" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>The checklist authority.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element maxOccurs="unbounded" name="FIELD_GROUP">
                                    <xs:annotation>
                                        <xs:documentation>Checklist field group.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element maxOccurs="1" minOccurs="1" name="NAME"
                                                type="xs:string">
                                                <xs:annotation>
                                                  <xs:documentation>The name of the checklist group for display purposes.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element maxOccurs="1" minOccurs="0"
                                                name="DESCRIPTION" type="xs:string">
                                                <xs:annotation>
                                                  <xs:documentation>The description of the field group for display purposes.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="FIELD" maxOccurs="unbounded">
                                                <xs:annotation>
                                                  <xs:documentation>A checklist field.</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="1" minOccurs="1"
                                                  name="LABEL" type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation>A unique immutable label for the field for referencing purposes.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element maxOccurs="unbounded" minOccurs="0"
                                                  name="SYNONYM" type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation>Synonym that will be converted to LABEL.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element maxOccurs="1" minOccurs="1"
                                                  name="NAME" type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation>The name of the field for display purposes.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element maxOccurs="1" minOccurs="0"
                                                  name="DESCRIPTION" type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation>The description of the field for display purposes.
                                                        </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="UNITS">
                                                  <xs:annotation>
                                                  <xs:documentation>The allowed units. </xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:sequence maxOccurs="1">
                                                  <xs:element maxOccurs="unbounded" name="UNIT"
                                                  type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation/>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="FIELD_TYPE">
                                                  <xs:annotation>
                                                  <xs:documentation>The field type.</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:choice>
                                                  <xs:element name="TEXT_FIELD">
                                                  <xs:annotation>
                                                  <xs:documentation>A single-line text field.</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element minOccurs="0" name="MIN_LENGTH"
                                                  type="xs:positiveInteger">
                                                  <xs:annotation>
                                                  <xs:documentation>Minimum string length.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="MAX_LENGTH"
                                                  type="xs:positiveInteger">
                                                  <xs:annotation>
                                                  <xs:documentation>Maximum string length.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element name="REGEX_VALUE" type="xs:string"
                                                  minOccurs="0">
                                                  <xs:annotation>
                                                  <xs:documentation>The regular expression.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="TEXT_AREA_FIELD">
                                                  <xs:annotation>
                                                  <xs:documentation>A multi-line text field.</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element minOccurs="0" name="MIN_LENGTH"
                                                  type="xs:positiveInteger">
                                                  <xs:annotation>
                                                  <xs:documentation>Minimum string length.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="MAX_LENGTH"
                                                  type="xs:positiveInteger">
                                                  <xs:annotation>
                                                  <xs:documentation>Maximum string length.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="TEXT_CHOICE_FIELD">
                                                  <xs:annotation>
                                                  <xs:documentation>A single-line text field controlled by a list of text values.</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="unbounded"
                                                  name="TEXT_VALUE">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="VALUE" type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation>Allowed text value.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element maxOccurs="unbounded" minOccurs="0"
                                                  name="SYNONYM" type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation>Synonym that will be converted to VALUE.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="DATE_FIELD">
                                                  <xs:annotation>
                                                  <xs:documentation>A date field.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element name="TAXON_FIELD">
                                                  <xs:annotation>
                                                  <xs:documentation>A taxon field.</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" minOccurs="0"
                                                  name="TAXON" type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation>Taxid.</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  <xs:attribute name="restrictionType">
                                                  <xs:annotation>
                                                  <xs:documentation>Taxon restriction type.</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="Permitted taxa"/>
                                                  <xs:enumeration value="Not permitted taxa"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:attribute>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="ONTOLOGY_FIELD">
                                                  <xs:annotation>
                                                  <xs:documentation>An ontology field.</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="1" minOccurs="1"
                                                  name="ONTOLOGY_ID" type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation/>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:choice>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element maxOccurs="1" name="MANDATORY">
                                                  <xs:annotation>
                                                  <xs:documentation>Defines if the attribute is mandatory, recommended or optional.</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="mandatory">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                                        Random sequencing of the whole genome.
                                                                    </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="recommended">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                                        Random sequencing of exonic regions selected from the genome.
                                                                    </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="optional">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                                        Random sequencing of whole transcriptome.
                                                                    </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="MULTIPLICITY">
                                                  <xs:annotation>
                                                  <xs:documentation>The attribute can appear more than once if the multiplicity value is set to multiple and at most once if the value is set to single. By default an attribute can occur no more than once.

                                                        </xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="single"/>
                                                  <xs:enumeration value="multiple"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="restrictionType">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:enumeration
                                                  value="Any number or none of the fields"/>
                                                  <xs:enumeration value="One of the fields"/>
                                                  <xs:enumeration value="At least one of the fields"/>
                                                  <xs:enumeration value="One or none of the fields"
                                                  />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="CONDITION"
                                    nillable="false">
                                    <xs:annotation>
                                        <xs:documentation>Field condition.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element maxOccurs="1" minOccurs="1" name="LABEL"
                                                type="xs:string">
                                                <xs:annotation>
                                                  <xs:documentation>A unique immutable label for referencing purposes.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element maxOccurs="1" minOccurs="1" name="NAME"
                                                type="xs:string">
                                                <xs:annotation>
                                                  <xs:documentation>The name of the condition for display purposes.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element maxOccurs="1" minOccurs="0"
                                                name="DESCRIPTION" type="xs:string">
                                                <xs:annotation>
                                                  <xs:documentation>The description of the condition for display purposes.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element maxOccurs="1" minOccurs="1"
                                                name="EXPRESSION" type="xs:string">
                                                <xs:annotation>
                                                  <xs:documentation>The condition expression.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element maxOccurs="1" minOccurs="1" name="ERROR"
                                                type="xs:string">
                                                <xs:annotation>
                                                  <xs:documentation>The condition error.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="checklistType" type="xs:string"> </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ChecklistSetType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="CHECKLIST" type="ChecklistType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="CHECKLIST_SET" type="ChecklistSetType">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>

    </xs:element>

    <xs:element name="CHECKLIST" type="ChecklistType"/>
</xs:schema>
